body {
    font-family: Arial, sans-serif;
    background-color: #c45e5e;
    color: #3f3e3e;
}

#aplicacion {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

#seccion-usuarios, #seccion-encuesta, #seccion-resultados {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

#listado-usuarios {
    list-style-type: none;
    padding: 0;
}

.formulario-encuesta {
    margin-bottom: 20px;
}

.formulario-encuesta label, .formulario-encuesta input {
    display: block;
    margin: 5px 0;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
