 /* Estilo general para el cuerpo */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
  }

/* Estilo del contenedor principal */
h1 {
    color: #4a90e2;
}

/* Estilo para las etiquetas y campos de entrada */
label, input {
    display: block;
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.half {
    width: 45%;
    flex: 1; /* cada div ocupa la mitad del espacio disponible */
    height: 100%; /* para que los divs ocupen toda la altura */
}

.container {
    width: 95%;
    display: flex;
    height: 100vh;
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ab8;
}

/* Estilo para el área de texto */
textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo del contenedor de formulario */
.formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td, tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}