*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

section{
    width: 100%;
    min-height: 50vh;
}
section .container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.listUser{
    display: grid;
    gap: 5px;
}
.tarjetForm{
    display: grid;
    width: 100%;
    padding: 5px;
    gap: 5px;
    margin: 5px;
}

.formContainer{
    width: 100%;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #BBB;
    padding: 5px;
}
.listUser button{
    border: 2px solid purple;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.listUser button:hover{
    background-color: rgb(207, 207, 207);
}
.listUser button:active{
    background-color: gray;
}

.graficContainer{
    display: flex;
}