body {  
    font-family: Arial, sans-serif;  
    background-color: #ffffff;  
    margin: 0;  
    padding: 20px;  
}  
table {  
    width: 40%; /* Hacer que la tabla ocupe el 100% del contenedor */  
    border-collapse: collapse;  
    margin-bottom: 20px;  
}  

th, td {  
    padding: 10px;  
    border: 1px solid #ddd;  
    text-align: left;  
}  

@media (max-width: 600px) {  
    table {  
        display: block; /* Cambiar la tabla a bloque */  
        overflow-x: auto; /* Permitir desplazamiento horizontal */  
        white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */  
    }  
}  
thead {
  background: rgba(180, 180, 180, 0.4);
}
tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(129, 129, 129, 0.4);
}

.card {  
    background-color: #fff;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    padding: 10px;  
}  

.card h3 {  
    margin: 0 0 5px 0;  
}

header {
    width: 100%;
    height: 200px; /*modificar tamaño*/
    overflow: hidden;
    position: relative;
  }
  
  header::before {
    content: '';
    position: absolute;
    border-top: 30px solid transparent;
    border-left: 400px solid white;
    bottom: 0;
  }

header img { /*Formato imagne*/
    width: 100%;
    height: 199px;

  }

  .card2 {  
    width: 50%; /* Cambiar a porcentaje */  
    max-width: 400px; /* Ancho máximo para pantallas grandes */  
    overflow: hidden;  
    position: absolute;  
    top: 65%; /* Cambia a 50% para centrar verticalmente */  
    left: 65%;  /* Cambia a 50% para centrar horizontalmente */  
    transform: translate(-50%, -50%);  
    background: white;  
    border-radius: 15px;  
    box-shadow: 7px 13px 37px rgba(114, 114, 114, 0.6);  
}  

/* Media Queries */  
@media (max-width: 768px) {  
    .card2 {  
        width: 90%; /* Aumenta el ancho en pantallas más pequeñas */  
    }  
}  

@media (max-width: 480px) {  
    .card2 {  
        width: 95%; /* Aumenta el ancho en pantallas muy pequeñas */  
    }  
}  

  section {
    padding: 1px;
    overflow: hidden;
    text-align: center;
  }
  
  section h2 {
    margin: .1em 0;
  }
  
  section p {
    margin: 1em 0;
  }
  
  ul li {
    list-style: none;
    display: inline-block;
    margin: .1em .1em;
  }
  
  ul li a {
    text-decoration: none;
    color: white;

    width: 10px;
    height: 10px;
    line-height: 30px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out;
  }
  
  ul li a:hover {
    transform: scale(1.2);
  }
  
  footer {
    width: 100%;
    height: 80px;
    background: #093e61;
    color: white;
    position: relative;
  }
  
  footer::before {
    content: '';
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 400px solid white;
    top: 0;
  }
  
  footer p {
    padding: 30px;
  }


  /*BOTONES CSS*/

  .btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .primary {background-color: #093e61;} 
  .primary:hover {background: #0f5381;}
  
  .success {background-color: #04AA6D;} 
  .success:hover {background-color: #46a049;}
  
  .warning {background-color: #ff9800;} 
  .warning:hover {background: #e68a00;}