body
{
    text-align: center;
    padding: 3px;
    background-color: gainsboro;
}

.conteiner
{
    font-size: 15px;
    padding: 5px;
    margin: center;
    
}

.estruc
{
    align-content: center;
    padding: 6%;
}

input
{
    padding: 3%;
    margin-bottom: 9px;
}